container_commands:
  01_sudo_permission:
    command: echo "webapp ALL=(ALL) NOPASSWD:ALL" | sudo tee -a /etc/sudoers
    leader_only: true
  02_download:
    command: cd /var/app/current
  03_download:
    command: curl -O /var/app/current -sS https://getcomposer.org/installer | sudo php
    leader_only: true
  04_download: 
    command: sudo mv /var/app/current/composer.phar /usr/local/bin/
    leader_only: true
  05_download:
    command: sudo ln -s /usr/local/bin/composer /usr/bin/composer
    leader_only: true
  06_composer:
    command: sudo composer install
    leader_only: true
  07_permission:
    command: sudo chmod -R 777 /var/app/current
  08_owner_permission:
    command: sudo chown -R webapp:webapp /var/app/current
  09_admin:
    command: sudo /var/app/current/bin/magento setup:install  --admin-email=${EMAIL}   --admin-user=${ADMINPAGEUSERNAME}  --admin-password=${ADMINPAGEPASSWORD}  --base-url=${BASEURLNONSECURE}  --backend-frontname=admin  --db-host=${RDS_HOSTNAME}  --db-name=${RDS_DB_NAME}  --db-user=${RDS_USERNAME}  --db-password=${RDS_PASSWORD}   --language=${APPLANGUAGE}  --currency=${CURRENCY}   --timezone=${TIMEZONE}   --use-secure=1  --base-url-secure=${BASEURLSECURE}   --use-secure-admin=1   --admin-use-security-key=1  --use-rewrites=1  --session-save=${SESSIONSAVE} --admin-firstname=${MAGENTO_ADMIN_FIRSTNAME} --admin-lastname=${MAGENTO_ADMIN_LASTNAME}  --elasticsearch-host=${ES_Domainname} --elasticsearch-port=443
    leader_only: true  
  10_permission:
    command: sudo chmod -R 777 /var/app/current
  11_permission:
    command: sudo /var/app/current/bin/magento deploy:mode:set production
  12_cron:
    command: sudo /var/app/current/bin/magento cron:install
    leader_only: true
  13_owner_perm:
    command: sudo chown -R webapp:webapp /var/app/current
