files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_composer_install.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            cd /home/ec2-user
            sudo curl -sS https://getcomposer.org/installer | sudo php
            sudo mv /home/ec2-user/composer.phar /usr/local/bin/composer
            sudo ln -s /usr/local/bin/composer /usr/bin/composer
            cd /var/www/html/
            sudo composer install
            chmod -R webapp:webapp /var/www/html/
            chmod -R 777 /var/www/html/
            sudo  /var/app/current/bin/magento setup:install  --admin-email=${EMAIL}   --admin-user=${ADMINPAGEUSERNAME}  --admin-password=${ADMINPAGEPASSWORD}  --base-url=${BASEURLNONSECURE}  --backend-frontname=admin  --db-host=${RDS_HOSTNAME}  --db-name=${RDS_DB_NAME}  --db-user=${RDS_USERNAME}  --db-password=${RDS_PASSWORD}   --language=${APPLANGUAGE}  --currency=${CURRENCY}   --timezone=${TIMEZONE}   --use-secure=1  --base-url-secure=${BASEURLSECURE}   --use-secure-admin=1   --admin-use-security-key=1  --use-rewrites=1  --session-save=${SESSIONSAVE} --admin-firstname=${MAGENTO_ADMIN_FIRSTNAME} --admin-lastname=${MAGENTO_ADMIN_LASTNAME}             
