files:
    "/opt/elasticbeanstalk/hooks/restartappserver/post/490-restart_appserver.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            cd /opt
            sudo curl -sS https://getcomposer.org/installer | sudo php
            sudo mv /opt/composer.phar /usr/local/bin/composer
            sudo ln -s /usr/local/bin/composer /usr/bin/composer
            cd /var/app/current
            sudo composer install 
            sudo chmod -R 777 /var/app/current
            sudo chown -R webapp:webapp /var/app/current
            sudo /var/app/current/bin/magento setup:install  --admin-email=${EMAIL}   --admin-user=${ADMINPAGEUSERNAME}  --admin-password=${ADMINPAGEPASSWORD}  --base-url=${BASEURLNONSECURE}  --backend-frontname=admin  --db-host=${RDS_HOSTNAME}  --db-name=${RDS_DB_NAME}  --db-user=${RDS_USERNAME}  --db-password=${RDS_PASSWORD}   --language=${APPLANGUAGE}  --currency=${CURRENCY}   --timezone=${TIMEZONE}   --use-secure=1  --base-url-secure=${BASEURLSECURE}   --use-secure-admin=1   --admin-use-security-key=1  --use-rewrites=1  --session-save=${SESSIONSAVE} --admin-firstname=${MAGENTO_ADMIN_FIRSTNAME} --admin-lastname=${MAGENTO_ADMIN_LASTNAME}  --elasticsearch-host=${ES_Domainname} --elasticsearch-port=443
            sudo chmod -R 777 /var/app/current
            sudo /var/app/current/bin/magento deploy:mode:set production
            sudo rm -rf /var/app/current/var/.maintenance.flag
            sudo chown -R webapp:webapp /var/app/current
            sudo /var/app/current/bin/magento cron:install
            sudo chown -R webapp:webapp /var/app/current
