files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_composer_install.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            cd /home/ec2-user
            sudo curl -sS https://getcomposer.org/installer | sudo php
            sudo mv /home/ec2-user/composer.phar /usr/local/bin/composer
            sudo ln -s /usr/local/bin/composer /usr/bin/composer
            cd /var/app/current
            sudo composer install
            sudo chmod 777 /var/www/html
