files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/98_magento_install.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            /var/app/current/bin/magento setup:install  --admin-email=${EMAIL}   --admin-user=${MagentoUserName}  --admin-password=${MagentoPassword}  --base-url=${BASEURLNONSECURE}  --backend-frontname=admin  --db-host=${RDS_HOSTNAME}  --db-name=${RDS_DB_NAME}  --db-user=${RDS_USERNAME}  --db-password=${RDS_PASSWORD}   --language=${MagentoLanguage}  --currency=${MagentoCurrency}   --timezone=${TIMEZONE}   --use-secure=1  --base-url-secure=${BASEURLSECURE}   --use-secure-admin=1   --admin-use-security-key=1  --use-rewrites=1  --session-save=${SESSIONSAVE}
