Resources:
    AWSEBV2LoadBalancerListener:
        Type: "AWS::ElasticLoadBalancingV2::Listener"
        Properties:
            DefaultActions:
                - 
                    RedirectConfig:
                        Protocol: "HTTPS"
                        StatusCode: "HTTP_301"
                        Port: 443
                    Type: redirect
